#container {
  position: relative;
  max-width: 642px;
  margin: 0em auto;
  height: 428px;
  overflow: hidden;
}

#container img {
  display: inline-block;
  height: 100%;
}

#front {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  background: no-repeat left top;
  background-size: auto 100%;
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: #3CC2C2;
}

.inview #front {
	width: 50%;
}

.label {
  position: absolute;
  top: 0;
  right: 0;
  color: #C23C3C;
  padding: 1em;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
}

.inview .label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

#front .label {
  right: auto;
  left: 0;
}

#slider {
	height: 30px;
	width: 30px;
	display: inline-block;
	position: absolute;
	left: 306px; /*width of container divided in half then minus half width of circle*/
	top: 199px; /*height of container divided in half then minus half height of circle*/
	opacity: 1;
	overflow: hidden;
}

#arrows {
	display: inline-block;
	position: absolute;
	left: 6px;
	top: 30%;
	fill: white;
}

#circle {
	fill: #3CC2C2;
	position: absolute;
	display: inline-block;
}

#circle:hover {
	cursor: move;
}

#slider:hover #arrows {
	fill: #C23C3C;
	cursor: move;
}

#slider:active #circle {
	fill: #C23C3C;
}

#slider:active #arrows {
	fill: white;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
